VITE_BACKEND_URL=http://localhost:5000
VITE_CHAIN_ID=80001
VITE_RPC_URL=https://rpc-mumbai.maticvigil.com

# fill after contracts deploy
VITE_MARKETPLACE_ADDRESS=0x...
VITE_MILESTONE_ADDRESS=0x...
VITE_BADGE_ADDRESS=0x...
